{% extends "base.html" %}
{% block content %}
    <strong> How does Pylint come into play? </strong> <br><br>

    <strong>Pylint: </strong><p>
    Pylint is a tool we utilized in our project to comb through our code and run checks that nothing is out of the ordinary and everything works fine.
    </p>
    <br>

    <strong>Usage, Options & Switches</strong></p>
    <ul>
        <li>
            Persistence
        </li>
    </ul>
    <ul>
        <li>
            Enable
        </li>
    </ul>
    <ul>
        <li>
            Reload-Builtin
        </li>
    </ul>
    <ul>
        <li>
            Spelling-Dict
        </li>
    </ul>
    <ul>
        <li>
            Generated-Members
        </li>
    </ul>
    <ul>
        <li>
            Broad-Except
        </li>
    </ul>
    <ul>
        <li>
            Int-Import-Graph
        </li>
    </ul>
    <ul>
        <li>
            Optimize-Ast
        </li>
    </ul>
    <ul>
        <li>
            Output-Format
        </li>
    </ul>
    <br>
    <img src="https://i.ytimg.com/vi/byaxg00Gf9I/maxresdefault.jpg", alt="Pytest Descriptions"/>
    <br><br><br>


    <strong>Pylint Summary</strong><p>
    Pylint is defined as a Python Static code analytic tool for developers to use. Ranging from looking for programming errors, implementing better structures for your code,
    to identifying code violations and providing refactoring suggestions there are a multitude of different ways Pylint can help to clean up your code.
    It's allows for customization by the developer, and has functions that help fix small individual errors and alerts within the user’s code. Pylint also enables user flexibility,
    letting them write their own custom plugin and executable from their configuration file. During its run process, Pylint will print messages of what it's found then give the code
    an overall score based on the number and severity of warnings and errors. </p>
    <br><br><br>

{% endblock %}